<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/assigment_1.css') }}">
</header>

<body class = background >
    <div class =navbar>
        <img src="{{ url_for('static',filename='image/cat.jpeg') }}">
        <p1>Le Quang Anh</p1><br>
        <p2>1st year Master, University ITMO</p2>
    </div>
    <div class="main-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo omnis ipsam doloribus voluptates at nesciunt nulla harum repudiandae et ducimus eligendi excepturi corporis architecto consequatur, doloremque, porro itaque, nostrum labore?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo omnis ipsam doloribus voluptates at nesciunt nulla harum repudiandae et ducimus eligendi excepturi corporis architecto consequatur, doloremque, porro itaque, nostrum labore?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo omnis ipsam doloribus voluptates at nesciunt nulla harum repudiandae et ducimus eligendi excepturi corporis architecto consequatur, doloremque, porro itaque, nostrum labore?
        </p>
    </div>
    
    
    
</body>


</html>